html, body{
    background-color: rgb(24, 24, 24);
    font-family: sans-serif;
    color: rgb(226, 226, 226);
    height: 100%;
    width: 100%; 
    overflow: hidden;
}

.playerinfo{
    margin-top: 8%;
    text-align: center;
    height: 16%;
}

#welcome{
    font-size: 300%;
    border-bottom: 3px solid green;
}

#amountOfCoins{
    font-size: 300%;
}

#coins{
    font-size: 200%;
    color: rgb(0, 156, 0);
    margin-top: 1%;
}

.chooseTable{
    text-align: center;
    font-size: 200%;
}

.tables{
    text-align: center;
    height: 58%;
}

form{
    height: 100%;
}

button {
    background-color: rgb(0, 110, 0);
    border: 2px solid rgb(56, 56, 56);
    box-shadow: 0.5px 0.5px 2px 2px rgb(56, 56, 56);
    color: rgb(226, 226, 226);
    width: 7%;
    height: 14%;
    border-radius: 5px;
    margin: 1%;
    font-size: 150%;
    cursor: pointer;
}

.logout{
    height: 10%;
    margin-left: 5%;
}

a{
    background-color: red;
    border: 2px solid red;
    font-size: 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}